.timeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

.timeUploadBox {
  display: flex;
  border: 4px dashed var(--clr-ui-background, #c4f1ae);  
  text-align: center;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
  min-height: 300px;
}

.timeUploadBox:hover {
  background-color: #e4fcd8;
}

.timeError {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  bottom: -25%;
  min-height: 60px;
  width: 80%;
  color: var(--clr-error, #bf3920);
  font-size: 20px;
  text-align: center;
  outline: 1px solid var(--clr-error, #bf3920);
  border-radius: 8px;
  background-color: var(--clr-error-background, #f1ada1);
}

.timeSuccess {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  bottom: -25%;
  min-height: 60px;
  width: 80%;
  color: var(--clr-ui-text, #4aa31d);
  font-size: 20px;
  text-align: center;
  outline: 1px solid var(--clr-ui-text, #4aa31d);
  border-radius: 8px;
  background-color: var(--clr-ui-background, #c4f1ae);
}

.timeParagraf {
  font-size: 24px;
  color: var(--clr-ui-text, #4aa31d);
}
